.footer{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: rgba(14, 10, 10, 0.986);
    color: rgb(219, 215, 215);
}
.footer-property{
    margin: 10px;
    padding: 10px;
}
@media only screen and (max-width:668px) {
    .footer{
        grid-template-columns: repeat(1, 1fr);
    }
}